.container {
    padding-left: 40px;
    padding-top: 20px;
}

.img {
    width: 180px;
    height: 300px;

}

.films {
    padding-top: 20px;

}

.contain {
    padding-bottom: 10px;
    padding-left: 40px;
    display: flex;
    border-bottom: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
}

.about {
    padding-left: 40px;
    
}

.link {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(197, 193, 193);
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 10px;
}

.cast {
    padding-left: 40px;
    border-bottom: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
}

.text {
    width: 500px;
}
.list {
    display: flex;
    list-style: none;
}

.linkCast {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(197, 193, 193);
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    margin-right: 10px;
}