.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding-left: 0;
    justify-content: center;
}
@media (min-width: 768px) {
    .list {
        row-gap: 20px;
        column-gap: 20px;
    }
  }
   

.image {
    width: 180px;
    height: 276px;
}
.listReview {
    list-style: none;
}